@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800;900&family=Merriweather:wght@400;700;900&display=swap');

body {
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
}

.first-banner {
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/Banner_Image.png');
    width: 1320px;
    height: 600px;
    position: absolute;
    background-position: center;
    margin-left: 280px;
    margin-top: 50px;
    border-radius: 16px;
}


.first-banner-title {
    color: #FFF;
    margin-top: 177px;
    margin-bottom: 16px;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal
}

.first-banner-subheading {
    color: #FFF;
    text-align: center;
    font-size: 72px;
    font-family: Merriweather;
}

.offer {
    display: block;
    gap: 24px;
    padding-top: 770px;
    padding-left: 500px;
    padding-bottom: 120px;
}

.offer-title {
    color: #F00;
    padding-left: 250px;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
}

.offer-details {
    padding-left: 250px;
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.categories {
    color: #070211;
    font-size: 48px;
    font-weight: 700;
    padding-left: 250px;
    padding-bottom: 48px;
}

.offer-image {
    align-items: center;
    width: 802.9px;
    height: 500px;
}

.midnight-party {
    display: flex;
    width: 1320px;
    height: 600px;
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/Vectorrr.png');
    background-repeat: no-repeat;
    margin-left: 240px;
    position: absolute;
    background-size: cover;
    border-radius: 20px;
}

.midnight-party-text {
    color: #FFF;
}

.midnight-party-title {
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    padding-left: 140px;
    padding-top: 100px;

}

.new-year {
    padding-top: 80px;
    padding-right: 100px;
    background: transparent;
}

.midnight-party-description {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-left: 140px;

}

.midnight-party-button {
    padding-left: 160px;
    font-family: Inter;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 20px;
    padding-top: 50px;

}

.venue {
    width: 1320px;
    height: 482px;
    margin-top: 720px;
    margin-left: 240px;
    display: block;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    border-radius: 5px;
}

.venue-text {
    text-align: center;
    padding-top: 100px;
}

.venue-button {
    padding-left: 610px;
}

.sp {
    color: #F00;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

.place {
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

.join-button {
    width: 160px;
    height: 50px;
    background: #F00;
    border-radius: 8px;
    border: none;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.coming-soon-offer {
    display: flex;
    gap: 70px;
    margin-top: 120px;
    margin-left: 240px;
    width: 1320px;

}

.coming-soon-offer-title {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.coming-soon-offer-subtitle {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}

.coming-soon-offer-about {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

.coming-soon-offer-image-ellipse {
    width: 360px;
    height: 360px;
    border: 15px solid #F00;
    padding: 50px;
    border-radius: 50%;

}

.new-year {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}

.new-year-about {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.happy-new-year-image {
    width: 140px;
    height: 140px;
}

.holiday-sale {
    text-align: center;
    margin-left: 100px;
}

.holiday-sale-title {
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-top: 120px;
}

.holiday-span {
    color: #F00;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
}

.holiday-sale-subtitle {
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
}

.holiday-sale-about {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    margin-bottom: 125px;
}

/* sale graphics related css */

.wow-girl {
    padding-left: 1130px;
}

.discount {
    padding-left: 920px;
    padding-top: 100px;
    position: absolute;
}

.red-rectengale {
    margin-top: -495px;
    width: 1320px;
    height: 229px;
    padding-top: 490px;
    padding-left: 240px;
}

.box-class {
    margin-top: -380px;
    margin-left: 50px;
    width: 600px;
    height: 400px;
    padding-top: 600px;
    padding-left: 270px;
    position: absolute;
}

.product-text {
    padding-left: 240px;
}

.product-title {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;

}

.product-subtitle {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}

.product-description {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;

}

.column1 {
    display: flex;
    gap: 24px;
    margin-left: 240px;
    margin-top: 48px;
    border-radius: 16px;
}

.column2 {
    display: flex;
    gap: 24px;
    margin-left: 240px;
    margin-top: 24px;
    border-radius: 16px;
}

.email-us {
    width: 1320px;
    height: 616px;
    text-align: center;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    margin-left: 240px;
    margin-top: 120px;
    margin-bottom: 120px;

}

.email {
    padding-top: 80px;
}

.email-title {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}

.email-description {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.email-input {
    width: 440px;
    height: 72px;
    border-radius: 50px 0 0 50px;
    background: #FFF;
    border: none;
    
}

.email-input text {
    color: rgba(7, 2, 17, 0.30);
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    
    
}

.email-button {
    width: 210px;
    height: 72px;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    
    border: none;

}